/* Write your CSS code here */
.nav-header {
  display: flex;
  justify-content: center;
}
.nav-content {
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 1110px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo-image {
  width: 30px;
  height: 20px;
}
.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  flex: 1;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-link {
  font-family: 'Roboto';
  text-decoration: none;
  margin: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #475569;
}
.logout-icon {
  width: 20px;
}
.logout-button {
  border: none;
  padding: 0px;
  background: transparent;
}
.image {
  width: 30px;
  margin: 10px;
  height: 30px;
}
